[Unit]
Description=tiny-matrix-bot

[Service]
User=tiny-matrix-bot
Group=users
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/tiny-matrix-bot/tiny-matrix-bot/tiny-matrix-bot.py
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
