[tiny-matrix-bot]
base_url = https://matrix.example.com
token = SuperSecretToken
#run_path = run
#scripts_path = scripts
#enabled_scripts = ping
#inviter = :example\.com$

#[ping]
#allowlist = \!rOomId1:example\.com
#denylist = (@spammer|\!roOMid2):example\.com
#reply = PONG!
